.hashtag-under-construction {
  background: #fdd;
  border-bottom: 1px solid #f22;
  margin-bottom: -1px;
}

.ProseMirror-selectednode {
  background: #fcb
}

hashtag {
  background: rgb(214, 170, 170);
  /* margin-bottom: -1px; */
}

.ProseMirror {
  padding-right: 20px;
}