.editing-hashtag {
  background: #fdd;
  border-bottom: 1px solid #f22;
  margin-bottom: -1px;
}

.editing-mention {
  background: rgb(143, 210, 255);
  border-bottom: 1px solid rgb(81, 248, 156);
  margin-bottom: -1px;
}

.ProseMirror-selectednode {
  background: #fcb;
}

hashtag {
  color: saddlebrown;
  /* margin-bottom: -1px; */
}

mention {
  color: dodgerblue;
}

.ProseMirror {
  padding-right: 20px;
}
